
<div class="main">

  <div class="login_form">
  <h2>ログイン画面</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field email">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field hold-check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions action-btn">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <div class="shared-links">
  <%= render "devise/shared/links" %>
  </div>

  </div>
</div>