<div class="container">

<h2>取引先別売掛金明細</h2>

<%require "date"%>

    <div class="select-all">
    <%= form_tag("/accounts/#{current_user.id}/index2")  do |f| %>

        <li>取引先</li>
        <select name="cust_id" class="c_name">
        <%= @custs.each do |cust| %>
            <option value="<%=cust.id%>"><%=cust.cust_name%></option>
        <% end %>
        </select>
        <%=link_to("単月検索","/accounts/#{current_user.id}/index_select")%>
        <li class="btn dummy">範囲検索</li>
        
        <!-- d.end_of_month 月末を示す -->

        <% d = Date.today %>
        
        <!-- 売上日  -->
        
        <ul>
            <li>売上日</li>
            
            <select name="year" class="year-s">
            <% @year=[2019,2020,2021] %>
            <%= @year.each do |year| %>
                <% if year == d.year %>
                    <option value="<%=year%>" selected><%=year%></option>
                <%else%>
                    <option value="<%=year%>"><%=year%></option> 
                <%end%>
            <% end %>
            </select> 
            <li class="yymm">年</li> 

            <select name="month" class="month-s">
            <% @month=[1,2,3,4,5,6,7,8,9,10,11,12] %>
            <%= @month.each do |month| %>
                <% if month == d.month %>
                <option value="<%=month%>" selected><%=month%></option>
                <%else%>
                <option value="<%=month%>" ><%=month%></option>
                <%end%>
            <% end %>
            </select>
            <li class="yymm">月 ～</li>  
                            
            <select name="year2" class="year-s">
            <% @year=[2019,2020,2021] %>
            <%= @year.each do |year| %>
                <% if year == d.year %>
                    <option value="<%=year%>" selected><%=year%></option>
                <%else%>
                    <option value="<%=year%>"><%=year%></option> 
                <%end%>
            <% end %>
            </select> 
            <li class="yymm">年</li> 

            <select name="month2" class="month-s">
            <% @month=[1,2,3,4,5,6,7,8,9,10,11,12] %>
            <%= @month.each do |month| %>
                <% if month == d.month %>
                <option value="<%=month%>" selected><%=month%></option>
                <%else%>
                <option value="<%=month%>" ><%=month%></option>
                <%end%>
            <% end %>
            </select>
            <li class="yymm">月</li>  

            <input type="submit" value = "検索" class="search-btn">

        </ul>
        

        
    <% end %>
    </div>
</div>
